# dependencies
node_modules/

# environment variables
.env

# logs
npm-debug.log*

# build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/

# Python
__pycache__/
*.pyc

# MongoDB
data/